In [1]:
import pandas as pd
columns = [
    'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status',
    'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss',
    'hours-per-week', 'native-country', 'income'
]
train = pd.read_csv('../data/raw/adult.data', names=columns, na_values='?', skipinitialspace=True)
test = pd.read_csv('../data/raw/adult.test', names=columns, na_values='?', skipinitialspace=True, skiprows=1)
train.head()
test.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K.

In [2]:
train.isnull().sum()
test.isnull().sum()

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64

In [4]:
train = train.dropna()
test = test.dropna()

In [5]:
train = train.drop('fnlwgt', axis=1)
test = test.drop('fnlwgt', axis=1)

In [6]:
test['income'] = test['income'].str.replace('.', '', regex=False)

In [7]:
categorical = train.select_dtypes(include=['object']).columns.drop('income')
numerical = train.select_dtypes(include=['int64', 'float64']).columns

In [8]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer([
    ('cat', OneHotEncoder(handle_unknown='ignore'), categorical),
    ('num', StandardScaler(), numerical)
])

In [9]:
train.to_csv('../data/processed/adult_train_clean.csv', index=False)
test.to_csv('../data/processed/adult_test_clean.csv', index=False)